<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://auroradawngames.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>auroradawngames.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>auroradawngames</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$auroradawngames</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MonsterGamesDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hl25t5zpr7.database.windows.net,1433;Initial Catalog=auroradAmicpSKC4;User ID=auroradawn@hl25t5zpr7;Password=K00K00Kach00" Name="Data Source=tcp:hl25t5zpr7.database.windows.net,1433;Initial Catalog=auroradAmicpSKC4;User Id=auroradawn@hl25t5zpr7;Password=K00K00Kach00" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MonsterGames.Models.MonsterGamesDB, MonsterGames" MigrationConfiguration="MonsterGames.Migrations.Configuration, MonsterGames" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:hl25t5zpr7.database.windows.net,1433;Initial Catalog=auroradAmicpSKC4;User ID=auroradawn@hl25t5zpr7;Password=K00K00Kach00" Name="Data Source=tcp:hl25t5zpr7.database.windows.net,1433;Initial Catalog=auroradAmicpSKC4;User Id=auroradawn@hl25t5zpr7;Password=K00K00Kach00" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MonsterGames.Models.ApplicationDbContext, MonsterGames" MigrationConfiguration="MonsterGames.Migrations.Identity.ConfigIdentity, MonsterGames" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hl25t5zpr7.database.windows.net,1433;Initial Catalog=auroradAmicpSKC4;User Id=auroradawn@hl25t5zpr7;Password=K00K00Kach00</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MonsterGamesDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hl25t5zpr7.database.windows.net,1433;Initial Catalog=auroradAmicpSKC4;User Id=auroradawn@hl25t5zpr7;Password=K00K00Kach00</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>